# Python Virtual Environments & Cache
venv/
.venv/
__pycache__/
**/__pycache__/
**/*.pyc
**/*.pyo
*.pyc
*.pyo

# Tests & coverage
.pytest_cache/
.hypothesis/
tests/
htmlcov/
.coverage

# IDE
.vscode/
.idea/

# Git
.git/
.gitignore
